<style>#wrapper {width: 100%;} 
        #wrapper .container {max-width: 100%; display: block;}</style>  
    
    <!-- header -->
    <app-header></app-header>
\    <div id="wrapper" style="background-color: cornsilk"> <!--class="jumbotron jumbtron-fluid"-->
      <div class="container" style="background-color: cornsilk; padding : 0;">
        <div class="row" style="margin: 0; background-color: cornsilk">
          <div class="col-md-10 offset-md-1" style="background-color: white; padding : 5px;">
           
           
            <!-- routes will be rendered here -->
            <router-outlet></router-outlet> 
            <app-videos></app-videos>
            
    
            <!-- footer -->
            
          </div>
        </div>
      </div>
    </div>